@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeViewModel
<div>
    <h1>Employee List:</h1>
</div>
<hr/>
<br/>
<br/>
<div>
@foreach (var item in Model.Employees)
{
 <div class="list-group">
  <a href="https://localhost:44397/Employee/index/@item.Name" class="list-group-item list-group-item-action">@item.Name</a>
</div>   
}

</div>

