
@model NS.EMS.Model.EmployeeModel


@{
    ViewData["Title"] = "Employee Detail";
   
}






<h1>Add Employee</h1>
<form asp-controller="Employee" asp-action="Create" method="post">

  
   
     <br/>
     
     <hr />


<div class="text-center">
   <input asp-for="EmployeeName" placeholder="Employee Name"/> <br/>
   <input asp-for="Email" placeholder="Email"/> <br/>
   <input asp-for="Mobile" placeholder="Mobile"/> <br/>
    <div class="editor-field">
                 

                   @Html.DropDownListFor(model=>model.Department, new List<SelectListItem>
                   {
                       new SelectListItem{Text="DOTNET 1", Value="1", Selected=false},
                       new SelectListItem{Text="PYTHON 2", Value="2", Selected=false},
                       new SelectListItem{Text="PHP 3", Value="3", Selected=false},
                       new SelectListItem{Text="REACT 4", Value="4", Selected=false},
                   },"Select Department")
                   
               </div>
   <br/>
   <button type="submit">Submit</button><br/>

    <br />
    <center>
    

     <button type="button" class="btn btn-primary"  onclick="location.href='@Url.Action("ShowDetail", "Employee")';return false;">View Data</button>
     </center>
     <br />
  
</div>
<br>
<hr />
</form>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
