@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Student>
<div>
    <h2>Student Details</h2>
</div>
<div>
    @Html.Partial("_Students", Model)
</div>